.diagram {
  border: 1px solid red;
  height: 300px;
  background-color: white;
  padding: 100px;

}
.circle{
  position:relative;
  display:inline-block;
  &::after{
    content:attr(per);
    position:absolute;
    color:black;
    left:0;
    line-height:92px;
    text-align:center;
    width:100%;
    height:100%;
    border:1px solid red;
  }
}

circle {
  position:relative;
  fill: yellowgreen;
  stroke: #655;
  stroke-width: 10;
  stroke-dasharray: 0 289; /* 2π × 25 ≈ 158 */
}
svg {
  transform: rotate(-90deg);
  background: yellowgreen;
  border-radius: 50%;
}

@include diagram((66,82,41), 46);
