

$height:200px ;
.themes {
  border: 1px solid black;
  @include clearfix;
  position: relative;
  background-color: white;
  height:$height * 2;
  margin-bottom:40px;
  z-index:1;

}
@keyframes anim {
  0% {
    display:block;
  }
  100% {
    display:block;
    transform:rotate(-3.5deg) translateY(-50%);
  }
}
@keyframes glass{
  0% {
    display:block;
  }
  100% {
    display:block;
       transform:translateY(100%);
  }
}
@keyframes mask{
  0% {
    opacity:0.0;
  }
  100% {
    opacity:0.8;
  }
}
$blue:#00ccff;
.cell {
  width: 20%;
  height:$height ;
  position: absolute;
  @include coordinates(2,5,$height,10);
  transition: transform 1s ease;
  overflow:hidden;
  &:hover{
    .mask{
      display:block;
      animation-name: mask;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    .glass{
      display:block;
      animation-name: glass;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

    }
   .child{
     display:block;
     animation-name: anim;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
   }
  }
}
.child{
  width:200%;
  height:200px;
  position:absolute;
  display:none;
  left:-50%;
  will-change:transform;
  transform:rotate(-3.5deg) translateY(10px);
  background-color:$blue;
  text-align:center;
  color:white;
  padding-top:20px;
  span{
    display:inline-block;
    margin-left:20px;
    &:nth-child(2){
      &:hover{
        display:none;
        &+span{
          display:inline-block;
        }
      }
    }
    &:nth-child(3){
      display:none;
    }

  }
}
.glass{
  display:none;
  position:absolute;
  width:100%;
  color:white;
  will-change:transform;
  text-align:center;
  transition:transform 0.2s ease;
  transform:translateY(-35px);
  z-index:100;
}
.mask{
  width:100%;
  height:100%;
  background-color:black;
  opacity:0;
  transition:opacity 0.5s ease;
  will-change:opacity;
  display:none;

}

@include media('zerro','sm-phone'){
  .themes{
    height:$height * 10;
  }
  .cell{
  @include coordinates(10,1,$height,10);
  }
}

@include media('sm-phone','lg-phone'){
  .themes{
    height:$height * 5;
  }
  .cell{
  @include coordinates(5,2,$height,10);
  }
}

@include media('lg-phone','sm-tablet'){
  .themes{
    height:$height * 4;
  }
  .cell{
    @include coordinates(4,3,$height,10)
  }
}
@include media('sm-tablet','md-tablet'){
  .themes{
    height:$height * 3;
  }
  .cell{
    @include coordinates(3,4,$height,10)
  }
}
