.navigation {
  border: 2px solid red;
  position: absolute;
  width: 100%;
  z-index: 5;
  padding-top: 70px;
  font-size: 0;
  margin: 0 auto;
  transform:translateZ(0);
  &.stick{
    padding:0;
    position:fixed;
    background-color:black;
    top:0;
  }
}
.content {
  min-height: 30px;
  width: 80%;
  margin: 0 auto;
  @include clearfix;
  max-width:1200px;
}

.bar {
  width: 60%;
  float: left;
  font-size: 0;
  border: 2px solid white;
  color: white;
  @include linkReset{
    color:white;
    text-decoration:none;
  };


}




@import './media.scss';
