.navigation {
  //border: 2px solid red;
  position: absolute;
  width: 100%;
  z-index: 15;
  padding-top: 70px;
  font-size: 0;
  margin: 0 auto;
  will-change: position;
  transform: translateZ(0);

  &.stick {
    padding: 0;
    position: fixed;
    background-color: black;
    top: 0;
    left:0;
    ul[deep='0']{
        padding-top:0;
    }
  }
}

.content {
  min-height: 30px;
  width: 80%;
  margin: 0 auto;
  @include clearfix;
  max-width: 1200px;
}

.bar {
  width: 60%;
  float: left;
  font-size: 0;
  //border: 2px solid white;
  color: white;
  @include linkReset {
    color: white;
    text-decoration: none;
  };
}

.scrollbar {
  z-index:1;
  //transform:translateZ(0);
  position:fixed;
  width:100%;
  top:0;
  background-color:rgba(0,0,0,.9);
  height:0;
  transition:all 1s ease;

  //max-height: calc(100vh - 70px);

  scrollbar-base-color: #777777;
  scrollbar-arrow-color: #777777;
  scrollbar-track-color: #777777;
  -ms-scrollbar-3dlight-color: blue;
  scrollbar-3dlight-color: blue;
  &.hidden{
      overflow-y: hidden;
  }
  &.scroll{
      overflow-y: scroll;
      height:100vh;
  }

  &::-webkit-scrollbar {
    width: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #777777;

    &-thumb {
      border-radius: 10px;
      background-color: #555555;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    }
  }
}
@import './media.scss';
