$blue: #00ccff;
$height: 200px;
.img{
  //position:absolute;
  width:100%;
  height:auto;
  float:left;
  position:relative;
  z-index:0;
}
.cell {
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;

  &:hover {
    .mask {
      opacity: 0.8;
    }

    .child {
      transform: translateY(-200%);
    }

    .top {
      transform: translateY(0);
    }
  }
}
.icons {
  display: inline-block;
  padding-top: 30px;
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  line-height: 100%;
  text-align: center;
  transform: translateY(-100%);
  height: 50%;
  color: white;
  will-change: transform;
  transition: all 0.5s ease;
  z-index: 100;

  span {
    padding-top: 25%;
  }
}

.child {
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
  bottom: -100%;
  transform: translateY(0);
  transition: all 0.5s ease;
  text-align: center;
  color: white;
  z-index:2;

  span {
    position: relative;
    z-index: 2;
    margin: 0 5px;
  }

  &::after {
    content: '';
    width: 200%;
    height: 120%;
    position: absolute;
    left: -50%;
    will-change: transform;
    transform: rotate(-3.5deg) translateY(10px);
    background-color: $blue;
    text-align: center;
    color: white;
    padding-top: 20px;
  }
}

.mask {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1;
}
@include media('zerro','sm-tablet'){
  .top{
    a{
      span{
        font-size:1.5em;
      }

    }
  }

}
