.skew {
  position: relative;
  height: 0;

}

.rotate {
  width: 100vw;
  transform: rotate(-3.5deg);
  //border: 1px solid red;
  height: 6.45vw;
  top: -3.4vw;
  position: absolute;
  left: -1%;
  background-color: white;
  transform-origin: top;
  //border:1px solid black;
    //overflow-x:hidden;
}

.zindex-0 {
  z-index: 0;
}

.zindex-10 {
  z-index: 10;
}
