.title {
  font-family: "Open Sans";
  text-align:center;
  padding:17px 25px 48px;

  h1{
    font-size: 37px;
      line-height:34px;
      margin-bottom:15px;
  }
  p{
    font-size:20px;
      line-height:28px;
  }
}

.dark {
  color: #2f2f2f;
}
.white{
  color:#ffffff;
}

@include media('zerro','sm-phone'){
  .title{
    padding:17px 0 48px;
    h1{
      font-size:30px;
    }
  }
}
@include media('sm-phone','lg-phone'){
  .title{
    padding:17px 0 48px;
    h1{
      font-size:30px;
    }
  }
}
