$max-width: 900px;

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid black;
  min-width: 320px;
  min-height: 215px;
}

.slider {
  margin: 0 auto;
  height: 400px;
  height: 35vw;
  max-height: 600px;

  &__button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #494949;
    border: none;

    &:hover {
      background-color: white;
      cursor: pointer;
    }

    &.focus {
      background-color: white;
    }
  }

  &__slide {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
    @for $i from 1 through 3 {
      &.x-#{$i} {
        background-image: url('./img/#{$i}.jpg');
      }
    }

    &.show {
      opacity: 1;
    }

    &.fadeOut {
      opacity: 0;
      transition-delay: 0.4s;
    }
  }

  &__control {
    position: relative;
    z-index: 2;
    text-align: center;
    bottom: 8vw;
    &--cell{
      margin:0 5px;
    }
  }
}
@import './media.scss';
