
.skew {
  position: relative;
  height: 0;

  &__rotate {
    width: 110%;
    transform: rotate(-3.5deg);
    border: 1px solid red;
    height: 6.7vw;
    top:-3.4vw;
    position: absolute;
    left: -5%;
    background-color: white;
    transform-origin:top;
  }
}
